<ion-content class="ion-padding">
  <div class="header">
    <div class="align-horizontal">
      <h1 class="title" style="color:orange; font-weight: bold;">
        <ion-icon name="arrow-back-outline" (click)="goBack()" class="back-icon"></ion-icon> Payment Methods<br>
      </h1>
    </div>

    <div class="search-container">
      <ion-item lines="none">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Search Card" [(ngModel)]="searchQuery" (ionInput)="filterCards()"></ion-input>
      </ion-item>
    </div>
    
    <div class="search-container">
      <ion-item lines="none" (click)="openAddCardModal()">
        <div class="space-add-card" style="display: flex; gap:15px; text-align: center; justify-content: center; align-items: center;">
          <div>
            <p style="color:grey; font-size: 19px; font-weight: bold;"><ion-icon name="add-outline"></ion-icon></p>
          </div>
          <div>
            <p style="color:grey">Add New Card</p>
          </div>
        </div>
      </ion-item>
    </div>

    <div class="main-content">

      <div *ngIf="cards.length > 0; else noCards">
        <div class="pizza-cart" style="display: flex; gap:20px; justify-content: space-between;" *ngFor="let card of filteredCards">
          <div class="img">
            <img src="../../../../assets/visa_logo.png" style="width:80px; height:80px;">
          </div>
          <div class="info" style="position: relative; top:5px;right:50px;">
            <p style="color:#000; font-weight:bold; line-height: 1px;">**** **** **** {{ card.cardNumber.slice(-4) }}</p>
            <p style="color:grey; font-weight:300; line-height: 1px;">Expires: {{ card.expirationDate }}</p>
            <p style="color:orange; font-weight: bold; font-size: 15px; line-height:1px">Secure Payment</p>
          </div>
          <div class="add" style="position: relative;">
            <p style="color:orange;font-size: 30px; font-weight: bold;" (click)="presentActionSheet(card)">
              <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
            </p>
          </div>
        </div>
      </div>

      <ng-template #noCards>
        <ion-text color="medium">
          <p style="text-align:center; margin-top:20px; color:grey; font-style: italic;">No cards added yet.</p>
        </ion-text>
      </ng-template>

    </div>

  </div>

</ion-content>