<ion-content class="ion-padding" id="border-success-card">
  <div class="border-success-card">
    <div class="header">
      <div class="align-horizontal" style="display: flex; align-items: space-between; justify-content: space-between;">
        <h1 class="title" style="color:orange; font-weight: bold;">View Profile Image<br></h1>
        <ion-buttons slot="end" (click)="dismiss()">
          <ion-icon name="close">Close</ion-icon>
        </ion-buttons>
      </div>
    </div>
    <div class="center" style="justify-content: center; align-items: center; text-align: center;">
      <img src="../../../../assets/avatar.png" style="width: 300px; height:300px;">
    </div>
    <div class="action-btn-container">
      <ion-button expand="block" class="custom-btn" (click)="dismiss()">
        Dismiss
      </ion-button>
    </div>
  </div>
</ion-content>