<ion-content class="ion-padding">

  <div class="header">
    <div class="align-horizontal" style="display: flex; justify-content: space-between; align-items: center;">
      <h1 class="title" style="color: orange; font-weight: bold;">
        <ion-icon name="arrow-back-sharp" style="position: relative; top: 5px;" (click)="goBack()"></ion-icon>
        Order Review
      </h1>
    </div>
  </div>

  <div class="tab-filters">
    <div class="tabs-container">
      <!-- Tabs -->
      <div class="tabs">
        <button
          class="tab"
          [class.active]="isActiveSection('delivery')"
          (click)="showSection('delivery')">
          Delivery
        </button>
        <button
          class="tab"
          [class.active]="isActiveSection('pickup')"
          (click)="showSection('pickup')">
          Collect
        </button>
      </div>
    </div>

    <!-- Sections -->
    <div *ngIf="activeSection === 'delivery'">
      <!-- Delivery Section -->
      <p style="font-weight: bold; font-size: 15px; color: #000;">Deliver to:</p>
      <div class="address-card">
        <ion-select label="Address" label-placement="floating" style="position: relative; bottom: 19px;">
          <ion-select-option value="address-1">27751 Namibia Rockland Bloemfontein Free State 9323</ion-select-option>
        </ion-select>
      </div>
      <p style="color: orange; font-weight: 100; font-size: 13px; position: relative; bottom: 5px;">Delivery in 15 - 20 min</p>

      <div class="phone-number-input">
        <p style="color: grey; font-size: 17px; font-weight: bold;">Phone Number</p>
        <div style="display: flex; justify-content: space-between; position: relative; bottom: 35px;">
          <ion-input labelPlacement="stacked" placeholder="Enter phone number"></ion-input>
          <ion-icon name="pencil"></ion-icon>
        </div>
      </div>

      <div class="payment-method" style="position: relative; bottom: 45px;">
        <p style="color: grey; font-size: 17px; font-weight: bold;">Payment Method</p>
        <div style="position: relative; bottom: 30px;">
          <ion-select label="Select Payment Method" label-placement="floating">
            <ion-select-option value="method-1">Visa Card</ion-select-option>
            <ion-select-option value="method-2">Master Card</ion-select-option>
            <ion-select-option value="method-3">Payment on Delivery</ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class="order-summary" style="position: relative; bottom: 75px;">
        <div style="display: flex; justify-content: space-between;">
          <p style="font-weight: bold; font-size: 15px; color: grey;">1 Custom Pizza (Small, 400g)</p>
          <p style="color: grey; font-size: 15px; font-weight: bold;">R120.00</p>
        </div>
        <p style="color: #000; font-size: 15px; font-weight: bold; position: relative; bottom: 20px;">Ingredients:</p>
        <p style="color: grey; font-size: 12px; font-weight: 100;">Stuffed crust, pesto, cheese, garlic, mozzarella, onions</p>
      </div>

      <div class="action-btn-container" style="display: flex; justify-content: space-between; position: relative; bottom: 75px;">
        <ion-button expand="block" class="custom-btn">
          <ion-icon name="pencil"></ion-icon>Edit Order
        </ion-button>
        <ion-button expand="block" class="custom-btn">
          <ion-icon name="heart"></ion-icon>Add to Wishlist
        </ion-button>
      </div>

      <div class="total-container" style="display: flex; justify-content: space-between;">
        <p style="color: grey; font-weight: bold; font-size: 15px;">SUBTOTAL:</p>
        <p style="color: grey; font-weight: bold; font-size: 15px;">R120.00</p>
      </div>

      <div class="action-btn-container">
        <ion-button expand="block" class="custom-btn" (click)="justPlaceOrder()">
          <ion-icon name="checkmark-circle"></ion-icon>Place Order
        </ion-button>
      </div>
    </div>

    <div *ngIf="activeSection === 'pickup'">
      <!-- Pickup Section -->
      <div style="color: #000; font-size: 20px; font-weight: bold; margin-top: 15px;">DEALS</div>
      
      <div class="deals-slider">
        <div class="deals-card">
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_001.jpg" alt="Deal 1">
          </div>
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_002.jpg" alt="Deal 2">
          </div>
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_003.jpg" alt="Deal 3">
          </div>
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_004.jpg" alt="Deal 4">
          </div>
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_005.jpg" alt="Deal 5">
          </div>
          <!-- Repeat images for seamless infinite scrolling -->
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_001.jpg" alt="Deal 1">
          </div>
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_002.jpg" alt="Deal 2">
          </div>
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_003.jpg" alt="Deal 3">
          </div>
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_004.jpg" alt="Deal 4">
          </div>
          <div class="pizza-deal-card">
            <img src="../../../../assets/deal_005.jpg" alt="Deal 5">
          </div>
        </div>
      </div>
      
      <div class="store">
        <p style="color:grey; font-size: 15px; font-weight: 100; position: relative; top:20px;">ORDER ONLINE</p>
        <p style="color:#000; font-size: 25px; font-weight: bold;">RESTAURANT</p>
      
        <div class="store-info" style="display: flex; gap:10px;">
          <div>
            <img src="../../../../assets/pizzero_logo.png" style="border-radius: 15px;">
          </div>
          <div style="position: relative; bottom:20px;">
            <p style="color:#000; font-weight: bold; font-size: 18px;">Pizzero Rocklands Store</p>
            <p style="color:grey; font-weight: 200; font-size: 13px; position: relative; bottom:15px;">1,69 KM</p>
            <p style="color:grey; font-weight: 200; font-size: 13px; position: relative; bottom:30px;">Collect at this store</p>
          </div>
        </div>
      
        <div class="ingredients-card">
          <p style="color:#000; font-size: 15px; font-weight: bold; position:relative; top:15px;">Ingredients:</p>
          <p style="color:grey; font-size: 12px; font-weight: 100;">stuffed crust, pesto, cheese, garlic, mozzerella, onions</p>
        </div>
      
        <div class="total-container" style="display: flex; justify-content: space-between;">
          <p style="color:grey; font-weight:bold; font-size: 15px;">SUBTOTAL:</p>
          <p style="color:grey; font-weight:bold; font-size: 15px;">R120.00</p>
        </div>
      
        <div class="action-btn-container">
          <ion-button expand="block" class="custom-btn" (click)="placeOrder()">
            <ion-icon name="checkmark-circle"></ion-icon>Place Order
          </ion-button>
        </div>
        
      </div>
     
    </div>
  </div>

</ion-content>
