<ion-content class="ion-padding">

  <div class="header">

    <div class="align-horizontal">
      <h1 class="title" style="color:orange; font-weight: bold;">
        <ion-icon name="arrow-back-outline" (click)="goBack()" class="back-icon"></ion-icon> My Orders<br>
      </h1>
    </div>

    <div class="search-container">
      <ion-item lines="none">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        <ion-input type="text"placeholder="Search Pizza"></ion-input>
      </ion-item>
    </div>

    <div class="main-content">

      <div class="pizza-cart" style="display: flex; gap:10px; justify-content: space-between;">
        <div class="img">
          <img src="../../../assets/pizza_03.jpg" style="width:115px; height:115px;">
        </div>
        <div class="info" style="position: relative; top:25px;right:50px;">
          <p style="color:#000; font-weight:bold; line-height: 1px;">Pasto Pizza</p>
          <p style="color:grey; font-weight:300; line-height: 1px;">800 Calories</p>
          <p style="color:orange; font-weight: bold; font-size: 15px; line-height:1px">R120.00</p>
        </div>
        <div class="add" style="position: relative; top:25px;">
          <p style="color:orange;font-size: 30px; font-weight: bold;" (click)="navigateToViewOrderDetails()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </p>
        </div>
      </div>

      <div class="pizza-cart" style="display: flex; gap:10px; justify-content: space-between;">
        <div class="img">
          <img src="../../../assets/pizza_03.jpg" style="width:115px; height:115px;">
        </div>
        <div class="info" style="position: relative; top:25px;right:50px;">
          <p style="color:#000; font-weight:bold; line-height: 1px;">Peroni Pizza</p>
          <p style="color:grey; font-weight:300; line-height: 1px;">800 Calories</p>
          <p style="color:orange; font-weight: bold; font-size: 15px; line-height:1px">R120.00</p>
        </div>
        <div class="add" style="position: relative; top:25px;">
          <p style="color:orange;font-size: 30px; font-weight: bold;">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </p>
        </div>
      </div>

      <div class="pizza-cart" style="display: flex; gap:10px; justify-content: space-between;">
        <div class="img">
          <img src="../../../assets/pizza_03.jpg" style="width:115px; height:115px;">
        </div>
        <div class="info" style="position: relative; top:25px;right:50px;">
          <p style="color:#000; font-weight:bold; line-height: 1px;">Veggie Pizza</p>
          <p style="color:grey; font-weight:300; line-height: 1px;">800 Calories</p>
          <p style="color:orange; font-weight: bold; font-size: 15px; line-height:1px">R120.00</p>
        </div>
        <div class="add" style="position: relative; top:25px;">
          <p style="color:orange;font-size: 30px; font-weight: bold;">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>