
.login-image {
    width: 300px;
    height: 300px;
  }
  
  .forgot-password {
    text-align: end;
    font-size: 14px;
    color: #959492;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Style for sign-up link */
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #1A457C;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
  }
  
  /* Style placeholder text */
  ion-input::part(placeholder) {
    color: #33363F;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  /* Change icon color */
  ion-icon {
    color: #1A457C;
  }
  
  /* Style item */
  ion-item {
    border-radius: 20px;
    --background: #F8F5F5;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  ion-input {
    height: 60px;
  }
  
  p {
    color: #959492;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .signup {
    color: #1A457C;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
  }
  
  /* Change button color and apply border-radius */
  .login-button {
    --background: orange;
    color: white;
    font-weight: 400;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }