<ion-content class="ion-padding">
  <div class="center">
    <h1 class="title">Reset Password</h1>
  </div>

  <div class="full-content" style="position: relative; top:20px;">
    <div class="signup-link">
      <p>Please provide an email address for password reset and check an OTP sent on your email.</p>
    </div>

    <form (ngSubmit)="onResetPassword()">
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input 
          type="text" 
          placeholder="Email" 
          [(ngModel)]="email" 
          name="email"
          required>
        </ion-input>
      </ion-item>

      <!-- Reset Password button -->
      <ion-button expand="block" type="submit" class="login-button">Reset Password</ion-button>
    </form>

    <div class="signup-link">
      <p>If You Are New here? <a class="signup" (click)="justRegister()">Sign up</a></p>
    </div>

    <div class="terms" style="position: relative;top:400px;">
      <p style="color:grey; font-size: 11px;">This app is protected by reCAPTCHA and Google Privacy Policy and Terms of Service apply.</p>
    </div>
  </div>
</ion-content>
