<ion-app>
  <ion-menu contentId="main-content" menuType="overlay" class="custom-menu">

    <ion-content class="ion-padding" style="height: 100%;">
      
      <div class="close-container" (click)="closeMenu()">
        <ion-icon name="close-outline"></ion-icon>
        <div class="header-text">Main Menu</div>
      </div>

      <ion-list lines="none">

        <ion-item (click)="navigate('/profile')">
        <ion-icon name="person-circle-outline"></ion-icon>
          Profile
        </ion-item>

        <ion-item>
          <ion-icon name="grid-outline"></ion-icon>
            Dasboard
        </ion-item>

        <ion-item (click)="navigate('/my-orders')">
          <ion-icon name="clipboard-outline"></ion-icon>
            My Orders
        </ion-item>

        <ion-item>
          <ion-icon name="add-outline"></ion-icon>
            Build Your Own
        </ion-item>

        <ion-item (click)="navigate('/track-order')">
          <ion-icon name="eye-outline"></ion-icon>
            Track Orders
        </ion-item>

        <ion-item>
          <ion-icon name="gift-outline"></ion-icon>
           Gifts and Promos
        </ion-item>

        <ion-item (click)="navigate('/payment-methods')">
          <ion-icon name="card-outline"></ion-icon>
           Payment Methods
        </ion-item>

        <ion-item>
          <ion-icon name="notifications-outline"></ion-icon>
           Notifications
        </ion-item>

        <ion-item>
          <ion-icon name="help-circle-outline"></ion-icon>
           Customer Support
        </ion-item>

        <ion-item (click)="logOut()">
          <ion-icon name="exit-outline"></ion-icon>
           Log Out
        </ion-item>

      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>