<ion-content class="ion-padding">

  <div class="header">
    <div class="align-horizontal" style="display: flex; align-items: space-between; justify-content: space-between;">
      <h1 class="title" style="color:orange; font-weight: bold;">My Cart<br></h1>
      <ion-buttons slot="end">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-buttons>
    </div>
  </div>

  <div class="total-orders">
    <ion-item lines="none" style="display: flex; gap:20px;">
      <p style="color:orange; font-size: 20px; font-weight: bold;"><ion-icon name="bag-handle-outline"></ion-icon></p>
      <p style="color:orange; font-weight: bold; position: relative; left:15px;">You have {{ totalItems }} items in your list cart</p>
    </ion-item>
  </div>

  <div *ngFor="let pizza of pizzas" class="pizza-card">
    <div class="img">
      <img [src]="pizza.image" alt="{{ pizza.name }}" style="width:45px; height:45px;">
    </div>
    <div class="pizza-info">
      <p style="font-size:16px; font-weight: bold; color:#000; line-height: 1px;">{{ pizza.name }}</p>
      <p style="color:grey; font-size: 14px; font-weight:100; line-height: 1px;">Calories {{ pizza.calories }}</p>
      <div style="display: flex; justify-content: space-between;">
        <div>
          <p style="color:#000; font-weight: bold; font-size:20px;line-height: 1px;">R{{ pizza.price.toFixed(2) }}</p>
        </div>
        <div style="display: flex; gap:10px; text-align: end; align-items: end; position: relative; left:90px; bottom:10px;">
          <p style="font-size: 20px;" (click)="increaseQuantity(pizza)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </p>
          <p class="quantity" style="font-size: 20px;">{{ pizza.quantity }}</p>
          <p style="font-size: 20px;" (click)="decreaseQuantity(pizza)">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="amount-container" style="position: relative; top:30px;">
    <ion-grid>
      <ion-row>
        <ion-col style="align-items: start; text-align: start;">
          <p style="color:grey; font-weight: bold;">Items</p>
        </ion-col>
        <ion-col style="text-align: end; align-items: end;">
          <p style="color:#000; font-weight: bold;">{{ totalItems }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="align-items: start; text-align: start;">
          <p style="color:grey; font-weight: bold;">Discounts</p>
        </ion-col>
        <ion-col style="text-align: end; align-items: end;">
          <p style="color:#000; font-weight: bold;">R{{ discounts.toFixed(2) }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="align-items: start; text-align: start;">
          <p style="color:grey; font-weight: bold;">Total</p>
        </ion-col>
        <ion-col style="text-align: end; align-items: end;">
          <p style="color:#000; font-weight: bold;">R{{ totalPrice.toFixed(2) }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

  <div class="action-btn-container" style="position: relative; top:100px;">
    <ion-button expand="block" class="custom-btn" (click)="checkout()">Checkout</ion-button>
  </div>

</ion-content>