<ion-content class="ion-padding">
  <div class="center">
    <h1 class="title">New Password</h1>
  </div>

  <div class="full-content" style="position: relative; top:20px;">
    <div class="signup-link">
      <p>Please provide a new password and confirm the password.</p>
    </div>

    <form (ngSubmit)="resetPassword()" #passwordForm="ngForm">

      <!-- New Password -->
      <ion-item lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input 
          type="password" 
          placeholder="New Password" 
          name="newPassword"
          [(ngModel)]="newPassword"
          #newPasswordInput="ngModel"
          required
          minlength="6">
        </ion-input>
      </ion-item>
      <div *ngIf="newPasswordInput.invalid && newPasswordInput.touched" class="error-message">
        <p>Password is required and must be at least 6 characters long.</p>
      </div>

      <!-- Confirm Password -->
      <ion-item lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input 
          type="password" 
          placeholder="Confirm Password" 
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          #confirmPasswordInput="ngModel"
          required>
        </ion-input>
      </ion-item>
      <div *ngIf="confirmPassword !== newPassword && confirmPasswordInput.touched" class="error-message">
        <p>Passwords do not match.</p>
      </div>

      <!-- Reset Password button -->
      <ion-button expand="block" class="custom-btn"
      type="submit" [disabled]="!passwordForm.valid || confirmPassword !== newPassword">Confirm</ion-button>
    </form>

    <div class="signup-link">
      <p>If you are new here? <a class="signup">Sign up</a></p>
    </div> 

    <div class="terms" style="position: relative;top:400px;">
      <p style="color:grey; font-size: 11px;">This app is protected by reCAPTCHA and Google Privacy Policy and Terms of Service apply.</p>
    </div>
  </div>
</ion-content>
