.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom:15px;
}

.action-btn,
.custom-btn{
  --background:orange;
}

.google-btn{
    border: 1px solid grey;
    width: 100%;
    height:45px;
    display: flex;
    gap:10px;
    text-align: center;
    justify-content: center;
}

.terms{
    text-align: center;
    align-items: center;
    justify-content: center;
}

ion-item{
    border-radius: 20px;
    --background: #F8F5F5;
    margin-bottom: 10px;
    margin-top: 15px;
}


.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: orange;
    z-index: 10;
}
