<ion-content class="ion-padding">

  <div class="header">
    <div class="align-horizontal">
      <h1 class="title" style="color:orange; font-weight: bold;">Pizzero<br></h1>
      <ion-buttons slot="end">
        <ion-menu-toggle auto-hide="false">
          <ion-button>
            <img src="../../assets/icon/bars.svg"/>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </div>

    <div class="search-container">
      <ion-item lines="none">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        <ion-input type="text"placeholder="Search Pizza"></ion-input>
      </ion-item>
    </div>

    <div>
      <div class="pizza-container" style="padding:5px; display: flex; gap:10px;">
        <div>
         <h1 style="color:orange; font-size: 25px;font-weight:bold">Today's Top Pick</h1>
         <p style="color:#000;font-weight: bold;position: relative;bottom:10px;">Veggies Pizza</p>
         <p style="color:grey;font-weight: 300;position: relative;bottom:25px; font-size: 13px;">1050 Calories 400g</p>
         <p style="position: relative; bottom:35px">
           <ion-icon name="star-outline"></ion-icon>
           <ion-icon name="star-outline"></ion-icon>
           <ion-icon name="star-outline"></ion-icon>
           <ion-icon name="star-outline"></ion-icon>
         </p>
         <p style="color:grey;font-weight: bold;position: relative;bottom:55px; font-size: 22px;">R120.00</p>
        </div>
        <div class="image-container" style="position: relative; top:15px; right: 15px;">
         <img src="../../assets/pizza_02.JPG" style="height: 150px; width: 250px; border-radius: 50%; object-fit: cover;">
       </div>    
    </div>

    </div>
    <div class="action-btns" style="display: flex; gap:10px; position: relative; bottom:45px;">
      <div>
        <ion-button expand="block" class="custom-btn" (click)="addToCart()">Quick Add to Cart</ion-button>
      </div>
    </div>
    
   <div class="main-container">
      <div style="display:flex; justify-content: space-between;">
        <p style="color:#000; font-weight:bold;">Popular</p>
        <p style="color:orange;">Show All</p>
      </div>
      <div style="display: flex; gap: 10px; overflow-x: auto; white-space: nowrap;" class="horizontal-content">
    <div class="popular-card" style="display:flex; gap:15px; padding:3px">
    <div class="popular-card-content">
      <p style="color:#000;">Pepperoni Pizza</p>
      <p style="color:grey; font-size:10px;">1200 Calories 400g</p>
      <p style="color:lightseagreen; font-size:10px;">KES B90</p>
      <p style="color:orange; font-size:10px;">10%</p>
     </div>
    </div>

    <div class="popular-card" style="display:flex; gap:15px; padding:3px">
     <div class="popular-card-content">
      <p style="color:#000;">Pepperoni Pizza</p>
      <p style="color:grey; font-size:10px;">1200 Calories 400g</p>
      <p style="color:lightseagreen; font-size:10px;">KES B90</p>
      <p style="color:orange; font-size:10px;">10%</p>
    </div>
  </div>

  <div class="popular-card" style="display:flex; gap:15px; padding:3px">
    <div class="popular-card-content">
      <p style="color:#000;">Pepperoni Pizza</p>
      <p style="color:grey; font-size:10px;">1200 Calories 400g</p>
      <p style="color:lightseagreen; font-size:10px;">KES B90</p>
      <p style="color:orange; font-size:10px;">10%</p>
    </div>
  </div>

  </div>

<div class="supporting-content">

  <div style="display:flex;justify-content: space-between;">
    <p style="color:#000;font-weight: bold;">Featured</p>
    <p style="color:orange;font-weight: bold;">Show All</p>
  </div>

  <div class="video-container">
    <!-- <div>
      <img src="../../assets/pizza_youTube.png" style="width:100%">
    </div> -->
    <div>
      <ion-button expand="block" class="custom-btn" routerLink="/build-pizza">Build Your Own Pizza</ion-button>
    </div>
  </div>

</div>

</div>

</div>
 
</ion-content>