<ion-content class="ion-padding">

  <div class="header">
    <div class="align-horizontal" style="display: flex; align-items: space-between; justify-content: space-between;">
      <h1 class="title" style="color:orange; font-weight: bold;">Profile<br></h1>
      <ion-buttons slot="end">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-buttons>
    </div>
  </div>

  <div class="profile-card">

    <p style="color:grey; font-weight: bold;">Account Overview</p>

    <div class="user-info-card" style="display: flex; gap:10px;">
      <div>
        <img src="../../../../assets/avatar.png" style="width: 80px; height:65px;">
      </div>
      <div>
        <p style="color:grey; font-size: 12px;">You Profile photo will appear on devices that use your Pizzero account.</p>
        <ion-button expand="block" class="custom-btn">CHANGE PHOTO</ion-button>
      </div>
    </div>

    <hr class="horizontal-line">
    <div class="user-card-data" style="display: flex; justify-content: space-between;">
      <p style="color:grey; font-size: 13px;">Full Name</p>
      <p style="color:black;font-weight: bold; font-size: 13px;">LUNGILE HLAKANYANE</p>
      <p style="color:orange; font-size: 13px;">Edit name</p>
    </div>

  </div>

  <div class="profile-card" style="position: relative; top:15px;">
    <ion-grid>
      <ion-row>
        <ion-col><p style="color:#000;font-weight: bold;">Profile Info</p></ion-col>
        <ion-col><p style="color:orange;font-weight:100; text-align: end;">Edit Profile Info</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p style="color:grey;font-weight: 100;">Date of birth</p></ion-col>
        <ion-col><p style="color:#000;font-weight:100;">20/08/2000</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p style="color:grey;font-weight: 100;">Region</p></ion-col>
        <ion-col><p style="color:#000;font-weight:100;">Free State</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p style="color:grey;font-weight: 100;">Location</p></ion-col>
        <ion-col><p style="color:#000;font-weight:100;">1 Mangaung Bloemfontein Free State 9323</p></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="profile-card" style="position: relative; top:35px;">
    <ion-grid>
      <ion-row>
        <ion-col><p style="color:#000;font-weight: bold;">Account Info</p></ion-col>
        <ion-col><p style="color:orange;font-weight:100; text-align: end;">Edit Account Info</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p style="color:grey;font-weight: 100;">Email</p></ion-col>
        <ion-col><p style="color:#000;font-weight:100;">lungilehlaka.co.za</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p style="color:grey;font-weight: 100;">Phone</p></ion-col>
        <ion-col><p style="color:#000;font-weight:100;">0656352578</p></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="profile-card" style="position: relative; top:55px;">
    <ion-grid>
      <ion-row>
        <ion-col><p style="color:#000;font-weight: bold;">Language Info</p></ion-col>
        <ion-col><p style="color:orange;font-weight:100; text-align: end;">Edit Language Info</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p style="color:grey;font-weight: 100;">Language</p></ion-col>
        <ion-col><p style="color:#000;font-weight:100;">Isixhosa(SA)</p></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>