<ion-content class="ion-padding">
  <div class="header">
    <div class="align-horizontal" style="display: flex; justify-content: space-between;">
      <h1 class="title" style="color:orange; font-weight: bold;">Profile</h1>
    </div>
  </div>

  <div class="profile-card">
    <p style="color:grey; font-weight: bold;">Account Overview</p>
    <div class="user-info-card" style="display: flex; gap:10px;">
      <div>
        <img src="../../../../assets/avatar.png" style="width: 80px; height:65px;">
      </div>
      <div>
        <p style="color:grey; font-size: 12px;">Your Profile photo will appear on devices that use your Pizzero account.</p>
        <ion-button expand="block" class="custom-btn" (click)="presentActionSheet()">CHANGE PHOTO</ion-button>
      </div>
    </div>
    <hr class="horizontal-line">
  </div>

  <div class="profile-card" style="margin-top: 15px;">
    <ion-grid>
      <ion-row>
        <ion-col><p class="section-title">Profile Info</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input label="FULL NAME" labelPlacement="floating" [(ngModel)]="userData.fullName"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input label="DATE OF BIRTH" labelPlacement="floating" [(ngModel)]="userData.dateOfBirth"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input label="REGION" labelPlacement="floating" [(ngModel)]="userData.region"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input label="ADDRESS" labelPlacement="floating" [(ngModel)]="userData.physicalAddress"></ion-input></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="profile-card" style="margin-top: 15px;">
    <ion-grid>
      <ion-row>
        <ion-col><p class="section-title">Account Info</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input label="EMAIL" labelPlacement="floating" [(ngModel)]="userData.email" [disabled]="true"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input label="PHONE NUMBER" labelPlacement="floating" [(ngModel)]="userData.phoneNumber"></ion-input></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="profile-card" style="margin-top: 15px;">
    <ion-grid>
      <ion-row>
        <ion-col><p class="section-title">Language Info</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input label="LANGUAGE" labelPlacement="floating" [(ngModel)]="userData.language"></ion-input></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button expand="block" class="custom-btn" style="margin-top: 20px;" (click)="updateUserProfile()">SAVE</ion-button>
</ion-content>
