<ion-content class="ion-padding">
  <div class="header">
    <div class="align-horizontal">
      <h1 class="title" style="color:orange; font-weight: bold;">
        <ion-icon name="arrow-back-outline" (click)="goBack()" class="back-icon"></ion-icon> Notifications<br>
      </h1>
    </div>

    <div class="main-content">

      <div class="notification-card" style="display:flex; gap:10px;">

        <div class="img-container" style="position:relative;top:15px;">
          <img src="../../../../assets/pizzero_logo.png" style="border-radius: 10px;">
        </div>

        <div class="message">
          <p style="color:grey; font-size: 14px; font-weight:bold;">Specials and Promos for you</p>
          <p style="color:grey; font-size: 10px; font-weight: 100;">Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Nemo suscipit, perferendis praesentium ratione obcaecati quia?
          </p>
          <p style="color:orange; font-size: 10px; font-weight:100">10:00</p>
        </div>

      </div>

    </div>

  </div>

</ion-content>